body {
    line-height: 1.6;
    color: #333;
    color: rgba(0,0,0,.85);
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}


.ws-header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #fafafa!important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
}

.ws-title {
    position: absolute;
    width: 240px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 2em;
}

.title {
    color: #16b777;
}

.ws-header-assist {
    position: absolute;
    left: 240px;
    top: 50%;
    height: 32px;
    margin-top: 11px;
    display: block;
    width: 150px;
}

.ws-header-menu {
    position: absolute;
    right: 16px;
    top: 0;
    display: inline-block;
    vertical-align: middle;
}

.ws-header-tool {
    margin-left: 16px;
}

.ws-header-tool>div {
    margin-left: 16px;
}

.ws-header-menu>*, .ws-header-tool>div {
    display: inline-block;
    vertical-align: middle;
}

.shadow_css {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    /* 为mozilla firefox 设置透明度  */
    -moz-opacity: 0.6;
    /* 设置透明度 */
    opacity: .60;
    /* 为IE 设置透明度  */
    filter: alpha(opacity=66);
}

.loginWindow {
    display: none;
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 60%;
    border: 3px solid honeydew;
    border-radius: 8px;
    background-color: #ffffff;
    z-index: 11;
}

footer {
    display: block;
}


footer #lns {
    height: 41px;
    line-height: 40px;
    background: #e3e3e3;
    text-align: center;
    color: rgba(56, 56, 56, 0.7);
}

footer #fi {
    padding: 30px 0;
    text-align: center;
    background: #bbbbbb;
    color: rgba(33, 33, 33, 0.7);
}

footer #fi p {
    margin: 0;
    line-height: 22px;
}

footer #fi p a {
    color: rgba(71, 34, 180, 0.4);
}


footer #lns a {
    color: rgba(47, 24, 114, 0.4);
    opacity: .8;
    display: inline-block;
    margin: 0 15px;
}